<a href="https://colab.research.google.com/github/JulioFMDB/cursopython/blob/main/Pandas_DataFrames_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ExercÃ­cios Pandas DataFrames

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5

---
## Criando DataFrame

### Criar um pandas DataFrame vazio

In [3]:
vazio1 = pd.DataFrame() # == > Aqui o que o exercicio pediu < ==
vazio1

Empty DataFrame
Columns: []
Index: []

In [ ]:
#vazio = pd.DataFrame ({  aqui eu tava brincando com  manipulaÃ§ao
#    'A': [1,2,3,4]
#    ,'B': [10,11,12,13]
#    ,'C': [8,6,5,3] 
#}, columns=['A','B','C']) 
#vazio

   A   B  C
0  1  10  8
1  2  11  6
2  3  12  5
3  4  13  3

In [ ]:
vazio.index = [ # Aqui eu brinquei com a primeira que criei, e depois fiz o exercicio
    'Brasil'
    ,'Argentina'
    ,'Bunda'
    ,'Teste'
]
vazio

           A   B  C
Brasil     1  10  8
Argentina  2  11  6
Bunda      3  12  5
Teste      4  13  3

In [ ]:
vazio.info() # Aqui eu brinquei com a primeira que criei, e depois fiz o exercicio

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Brasil to Teste
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [ ]:
vazio.size # Aqui eu brinquei com a primeira que criei, e depois fiz o exercicio

12

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

###Â Crie um Pandas DataFrames `marvel_df` com os dados abaixo:

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

###Â Adicione nome nas colunas em `marvel_df`

In [4]:
marvel_df = pd.DataFrame({
    'SEX:':['male','male','male','male','male','male','male','male','male','female','female','male','male','male','male','male','female','female','female','male']
    ,'Birth in:': [1962,1941,1974,1963,1963,1961,1961,1962,1963,1961,1975,1939,1964,1964,1963,1962,1964,1963,1964,1968]
    }, columns = ['SEX:', 'Birth in:'])
marvel_df # Eu nÃ£o lembrava se tinha alguma maneira de separar os dados de maneira automÃ¡tica, entÃ£o fui na mÃ£o mesmo.

      SEX:  Birth in:
0     male       1962
1     male       1941
2     male       1974
3     male       1963
4     male       1963
5     male       1961
6     male       1961
7     male       1962
8     male       1963
9   female       1961
10  female       1975
11    male       1939
12    male       1964
13    male       1964
14    male       1963
15    male       1962
16  female       1964
17  female       1963
18  female       1964
19    male       1968

---
###Â Adicione nomes de Ã­ndice ao `marvel_df` (use o nome do personagem como Ã­ndice)

In [5]:
marvel_df.index = [
    'Spider-Man'
    ,'Captain America'
    ,'Wolverine'
    ,'Iron Man'
    ,'Thor'
    ,'Thing'
    ,'Mister Fantastic'
    ,'Hulk'
    ,'Beast'
    ,'Invisible Woman'
    ,'Storm'
    ,'Namor'
    ,'Hawkeye'
    ,'Daredevil'
    ,'Doctor Strange'
    ,'Hank Pym'
    ,'Scarlet Witch'
    ,'Wasp'
    ,'Black Widow'
    ,'Vision'
]
marvel_df # Mesma coisa aqui, fui na mÃ£o digitando um a um dos index...Funcionou

                    SEX:  Birth in:
Spider-Man          male       1962
Captain America     male       1941
Wolverine           male       1974
Iron Man            male       1963
Thor                male       1963
Thing               male       1961
Mister Fantastic    male       1961
Hulk                male       1962
Beast               male       1963
Invisible Woman   female       1961
Storm             female       1975
Namor               male       1939
Hawkeye             male       1964
Daredevil           male       1964
Doctor Strange      male       1963
Hank Pym            male       1962
Scarlet Witch     female       1964
Wasp              female       1963
Black Widow       female       1964
Vision              male       1968

In [6]:
marvel_df.columns # Verifiquei as colunas

Index(['SEX:', 'Birth in:'], dtype='object')

In [ ]:
marvel_df.index # Verifiquei os indices

Index(['Spider-Man', 'Captain America', 'Wolverine', 'Iron Man', 'Thor',
       'Thing', 'Mister Fantastic', 'Hulk', 'Beast', 'Invisible Woman',
       'Storm', 'Namor', 'Hawkeye', 'Daredevil', 'Doctor Strange', 'Hank Pym',
       'Scarlet Witch', 'Wasp', 'Black Widow', 'Vision'],
      dtype='object')

###Â Exclua a coluna de Nomes dos Personagens pois agora ela Ã© um Ã­ndice

In [ ]:
marvel_df.drop()

<bound method DataFrame.drop of                     SEX:  Birth in:
Spider-Man          male       1962
Captain America     male       1941
Wolverine           male       1974
Iron Man            male       1963
Thor                male       1963
Thing               male       1961
Mister Fantastic    male       1961
Hulk                male       1962
Beast               male       1963
Invisible Woman   female       1961
Storm             female       1975
Namor               male       1939
Hawkeye             male       1964
Daredevil           male       1964
Doctor Strange      male       1963
Hank Pym            male       1962
Scarlet Witch     female       1964
Wasp              female       1963
Black Widow       female       1964
Vision              male       1968>

---
###Â Exclua as linhas 'Namor' e 'Hank Pym'

In [7]:
marvel_df.drop(['Namor', 'Hank Pym']) #Optei por excluir somente no exercicio, nÃ£o deletando in-place. Caso quisesse, eu criaria a mesma variÃ¡vel
                                      # marvel_df = marvel_df.drop(['Namor', 'Hank Pym'])

                    SEX:  Birth in:
Spider-Man          male       1962
Captain America     male       1941
Wolverine           male       1974
Iron Man            male       1963
Thor                male       1963
Thing               male       1961
Mister Fantastic    male       1961
Hulk                male       1962
Beast               male       1963
Invisible Woman   female       1961
Storm             female       1975
Hawkeye             male       1964
Daredevil           male       1964
Doctor Strange      male       1963
Scarlet Witch     female       1964
Wasp              female       1963
Black Widow       female       1964
Vision              male       1968

---
## SeleÃ§Ã£o, Slicing e indexaÃ§Ã£o de DataFrame

In [8]:
marvel_df.shape # Visualizei o shape para pensar melhor

(20, 2)

###Â Exiba os primeiros 5 elementos de 3 formas diferentes de _slicing_ em `marvel_df`

In [ ]:
marvel_df[:5] # Sliced from pos[0] to pos[5]

                 SEX:  Birth in:
Spider-Man       male       1962
Captain America  male       1941
Wolverine        male       1974
Iron Man         male       1963
Thor             male       1963

---

###Â Exiba os 5 Ãºltimos elementos de 3 formas diferentes de _slicing_ em `marvel_df`

In [ ]:
marvel_df[15:] # Since i know there are [20] positions as i shaped it, i sliced from [15] to ~

                 SEX:  Birth in:
Hank Pym         male       1962
Scarlet Witch  female       1964
Wasp           female       1963
Black Widow    female       1964
Vision           male       1968

---
###Â Mostrar apenas o sexo dos 5 primeiros elementos em `marvel_df`

In [ ]:
marvel_df['SEX:'][:5] # Here i selected the column, than sliced it from pos[0] to [:5]

Spider-Man         male
Captain America    male
Wolverine          male
Iron Man           male
Thor               male
Name: SEX:, dtype: object

---

###Â Mostrar o primeiro_aparecimento de todos os elementos mÃ©dios (excluindo o primeiro e Ãºltimo elemento) em `marvel_df`

In [ ]:
#nao entendi o q fazer

---

###Â Mostrar o primeiro e o Ãºltimo elemento em `marvel_df`

In [ ]:
marvel_df.iloc[[0, -1]] # Used iloc to print the positions that the exercise asked

            SEX:  Birth in:
Spider-Man  male       1962
Vision      male       1968

---
## ManipulaÃ§Ã£o e OperaÃ§Ã£o de DataFrame

### Altere a primeira apariÃ§Ã£o do `Vision` para o ano de 1964

In [ ]:
marvel_df.iloc[-1] #The exercise asked to change the year of a index. Here i located it with iloc

SEX:         male
Birth in:    1968
Name: Vision, dtype: object

In [ ]:
marvel_df.loc['Vision'] = ['male','1964'] # Here i selected the index, than typed what i wanted to change
marvel_df                                 # Dont know if theres a simple way to do this by selecting the column.

                    SEX: Birth in:
Spider-Man          male      1962
Captain America     male      1941
Wolverine           male      1974
Iron Man            male      1963
Thor                male      1963
Thing               male      1961
Mister Fantastic    male      1961
Hulk                male      1962
Beast               male      1963
Invisible Woman   female      1961
Storm             female      1975
Namor               male      1939
Hawkeye             male      1964
Daredevil           male      1964
Doctor Strange      male      1963
Hank Pym            male      1962
Scarlet Witch     female      1964
Wasp              female      1963
Black Widow       female      1964
Vision              male      1964

---
### Adicione uma nova coluna para `marvel_df` chamada de `Anos_Desde` com a diferenÃ§a entre o ano atual e o ano de primeira apariÃ§Ã£o.

In [9]:
#Â Use a variÃ¡vel ano_atual conforme abaixo:
from datetime import date

ano_atual = np.int16(date.today().strftime("%Y"))
ano_atual

2022

In [11]:
marvel_df['Anos_Desde'] = ano_atual
marvel_df['Idade'] = marvel_df.apply(lambda x: x['Anos_Desde'] - x['Birth in:'], axis = 1) # Searched on google how to do this...
marvel_df # Here, by a misstyping i created 2 new columns, than i had to erase both. But the subtract formula has worked.

                    SEX:  Birth in:  Anos_Desde  Idade
Spider-Man          male       1962        2022     60
Captain America     male       1941        2022     81
Wolverine           male       1974        2022     48
Iron Man            male       1963        2022     59
Thor                male       1963        2022     59
Thing               male       1961        2022     61
Mister Fantastic    male       1961        2022     61
Hulk                male       1962        2022     60
Beast               male       1963        2022     59
Invisible Woman   female       1961        2022     61
Storm             female       1975        2022     47
Namor               male       1939        2022     83
Hawkeye             male       1964        2022     58
Daredevil           male       1964        2022     58
Doctor Strange      male       1963        2022     59
Hank Pym            male       1962        2022     60
Scarlet Witch     female       1964        2022     58
Wasp              female       1963        2022     59
Black Widow       female       1964        2022     58
Vision              male       1968        2022     54

In [12]:
marvel_df = marvel_df.drop(columns=['Anos_Desde']) # Deleting In-Place the one that i created.

In [ ]:
marvel_df = marvel_df.drop(columns=['Anod_Desde']) # Deleting In-Place the one that i created by an acident

In [13]:
marvel_df

                    SEX:  Birth in:  Idade
Spider-Man          male       1962     60
Captain America     male       1941     81
Wolverine           male       1974     48
Iron Man            male       1963     59
Thor                male       1963     59
Thing               male       1961     61
Mister Fantastic    male       1961     61
Hulk                male       1962     60
Beast               male       1963     59
Invisible Woman   female       1961     61
Storm             female       1975     47
Namor               male       1939     83
Hawkeye             male       1964     58
Daredevil           male       1964     58
Doctor Strange      male       1963     59
Hank Pym            male       1962     60
Scarlet Witch     female       1964     58
Wasp              female       1963     59
Black Widow       female       1964     58
Vision              male       1968     54

---
## DataFrame de Arrays booleanos (tambÃ©m chanado de masks)

### Exiba um sÃ©rie booleana que diga as personagens do sexo feminino de `marvel_df`

In [67]:
cond01 = marvel_df['SEX:'] == 'female'
marvel_df[cond01]

                   SEX:  Birth in:  Idade
Invisible Woman  female       1961     61
Storm            female       1975     47
Scarlet Witch    female       1964     58
Wasp             female       1963     59
Black Widow      female       1964     58

---
### Dado o Pandas DataFrame `marvel_df`, utilize um mÃ¡cara para selecionar os personagens masculinos

In [65]:
mask = marvel_df['SEX:'] == 'male'
marvel_df[mask]

                  SEX:  Birth in:  Idade
Spider-Man        male       1962     60
Captain America   male       1941     81
Wolverine         male       1974     48
Iron Man          male       1963     59
Thor              male       1963     59
Thing             male       1961     61
Mister Fantastic  male       1961     61
Hulk              male       1962     60
Beast             male       1963     59
Namor             male       1939     83
Hawkeye           male       1964     58
Daredevil         male       1964     58
Doctor Strange    male       1963     59
Hank Pym          male       1962     60
Vision            male       1968     54

---
### Dado o Pandas DataFrame `marvel_df`, selecione todos os personagens que tiveram sua primeira apariÃ§Ã£o apÃ³s 1970

In [68]:
cond02 = marvel_df['Birth in:'] > 1970
marvel_df[cond02]

             SEX:  Birth in:  Idade
Wolverine    male       1974     48
Storm      female       1975     47

---
### Dado o Pandas DataFrame marvel_df,  selecione todos os personagens femininos que tiveram sua primeira apariÃ§Ã£o apÃ³s 1970

In [72]:
cond03 = ( marvel_df['SEX:'] == 'female') & (marvel_df['Birth in:'] > 1970 )
marvel_df[cond03]

         SEX:  Birth in:  Idade
Storm  female       1975     47

---
## EstatÃ­sticas resumidas do DataFrame

###Â Mostre as estÃ­sticas bÃ¡sicas de `marvel_df`

In [94]:
marvel_df.describe

<bound method NDFrame.describe of                     SEX:  Birth in:  Idade
Spider-Man          male       1962     60
Captain America     male       1941     81
Wolverine           male       1974     48
Iron Man            male       1963     59
Thor                male       1963     59
Thing               male       1961     61
Mister Fantastic    male       1961     61
Hulk                male       1962     60
Beast               male       1963     59
Invisible Woman   female       1961     61
Storm             female       1975     47
Namor               male       1939     83
Hawkeye             male       1964     58
Daredevil           male       1964     58
Doctor Strange      male       1963     59
Hank Pym            male       1962     60
Scarlet Witch     female       1964     58
Wasp              female       1963     59
Black Widow       female       1964     58
Vision              male       1968     54>

In [108]:
marvel_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Spider-Man to Vision
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEX:       20 non-null     object
 1   Birth in:  20 non-null     int64
 2   Idade      20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.2+ KB

---
### Dado o Pandas DataFrame `marvel_df`, mostre a mÃ©dia do ano de apariÃ§Ã£o dos personagens

In [93]:
marvel_df['Birth in:'].mean()

1961.85

---
### Dado o Pandas DataFrame marvel_df, mostre o valor mÃ­nimo do primeiro ano de apariÃ§Ã£o

In [96]:
marvel_df['Birth in:'].min()

1939

---
### Dado o Pandas DataFrame `marvel_df`, retorne os personagens com valor igual ao menor ano de apariÃ§Ã£o

In [109]:
cond04 = marvel_df['Birth in:'] == 1939
marvel_df[cond04]

       SEX:  Birth in:  Idade
Namor  male       1939     83

---
## Plotagens bÃ¡sicas de DataFrame

### Redefinir nomes de Ã­ndice do `marvel_df`

---
###Â Plote os valores de primeira apariÃ§Ã£o

---
###Â Plote um histograma (plot.hist) com os valores do primeiro ano de apariÃ§Ã£o